<div class="registration-completed">
  <p>Congratulations! You're done!</p>
  <ul><span>Your data:</span>
    <li>First Name: {{{firstName}}}</li>
    <li>Last Name: {{{lastName}}}</li>
    <li>DOB: {{{dob}}}</li>
  </ul>
  <ul><span>Your bank account(s):</span>
    {{#each bankAccounts as |account|}}
    <div class="bank-account">
      <li>IBAN: {{account.iban}}</li>
      <li>BIC: {{account.bic}}</li>
    </div>
    {{/each}}
  </ul>
</div>
